article, aside {
  margin: 5px;
  height: 400px;
  display: inline-block;
}

article, section {
  width: 400px;
  border: 1px solid black;
}

article {
  min-width: 400px;
  min-height: 400px;
  overflow: scroll;
}

aside {
  min-width: 300px;
  width: 300px;
  padding: 1px;
}

section {
  width: calc(100% - 4px);
  height: calc(25% - 3px);
  min-width: inherit;
  overflow: scroll;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
}

.load {
  padding: calc((100px - 9px) / 2) 0px 0px calc(300px - 238px);
}

#robot0 {
  margin-top: 0px;
  margin-bottom: 2px;
}

#robot1, #robot2 {
  margin-top: 1px;
  margin-bottom: 1px;
}

#robot3 {
  margin-top: 2px;
  margin-bottom: 0px;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
}
